:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media only screen and (max-width: 768px) {
    ul {
        padding: 0;
    }
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #6366f1;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #9398f3;
    }
    button {
        background-color: #d8d5d5;
        color: #1a1a1a;
    }
    button:hover {
        border-color: #6366f1;
    }
}

.mainContent {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    max-width: 2048px;
    margin: 0 auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

.actionWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    color: #7986f1;
    border-bottom: 1px solid #333;
}

.inputSection {
    margin: 20px 0 20px;
}

.inputTextarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 200px;
    border: 1px solid #333;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.section {
    margin: 20px 0 20px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
}

.sectionTitle {
    color: #d8d5d5;
    margin: 10px 0 10px;
    font-size: 30px;
}

.listItem {
    color: #999;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.agentName {
    font-size: 22px;
}

.taskContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 5px 0 5px;
}

.taskDescription {
    font-size: 22px;
}

.taskStatus {
    border: 1px solid #6366f1;
    background-color: #6366f1;
    color: white;
    padding: 5px 10px 5px;
    border-radius: 10px;
    display: flex;
    font-size: 22px;
    gap: 10px;
    align-items: center;
}

.taskResult_Container {
    padding-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px dotted #818181;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.last_child:last-child {
    border-bottom: none;
}

.taskResult_response {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subtitle {
    font-size: 22px;
    text-decoration: underline;
    font-weight: 700;
}

.noAvailableData {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0 20px;
}

@media (prefers-color-scheme: light) {
    .title {
        color: #6366f1;
    }
    .sectionTitle {
        color: rgb(80, 77, 77);
    }

    .listItem {
        color: #818181;
    }

    .inputTextarea {
        color: #474646;
        background-color: #ebeaea;
    }
}

@media only screen and (max-width: 768px) {
    .taskResult_response {
        display: block;
    }
}

.hitl_Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hitl-select {
    padding: 10px;
}

.hitl-feedback {
    padding: 10px;
}
