name: PR Validation CI

on:
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: 'fake-api-key-so-we-can-use-ci-in-forked-repositories'
      OPENAI_API_KEY_2: 'fake-api-key-so-we-can-use-ci-in-forked-repositories'
      ANTHROPIC_API_KEY: 'fake-api-key-so-we-can-use-ci-in-forked-repositories'
      GOOGLE_API_KEY: 'fake-api-key-so-we-can-use-ci-in-forked-repositories'
      MISTRAL_API_KEY: 'fake-api-key-so-we-can-use-ci-in-forked-repositories'
      DEEPSEEK_API_KEY: 'fake-api-key-so-we-can-use-ci-in-forked-repositories'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install --also=dev

      - name: Run ESLint Check
        run: npm run lint:check

      - name: Check Prettier Formatting
        run: npm run format:check

      - name: Build for integration tests
        run: npm run build:test

      - name: Run integration tests
        run: npm run test:integration
